{% extends "admin_base.html" %}

{% block title %}Main{% endblock %}

{% block body %}

<div class = "ShortCutsWrapper">
	<div class = "ShortCut">
	 	<caption>
	 		<img src = "images/user_short.svg">
	 		<div class = "text"><a href = "#">My Profile</a></div>
		</caption>            
	</div>
	
	<div class = "ShortCut">
	 	<caption>
	 		<img src = "images/group.svg">
	 		<div class = "text"><a href = "/admin/users/index">Users</a></div>
		</caption>            
	</div>
	
	<div class = "ShortCut">
	 	<caption>
	 		<img src = "images/bar-chart.svg">
	 		<div class = "text"><a href = "/admin/stats/index">Stats</a></div>
		</caption>            
	</div>
	
	<div class = "ShortCut">
	 	<caption>
	 		<img src = "images/settings.svg">
	 		<div class = "text"><a href = "#">Settings</a></div>
		</caption>            
	</div>
	
	<div class = "ShortCut">
	 	<caption>
	 		<img src = "images/worldwide.svg">
	 		<div class = "text"><a href = "#">Something</a></div>
		</caption>            
	</div>
	
	<div class = "ShortCut">
	 	<caption>
	 		<img src = "images/worldwide.svg">
	 		<div class = "text"><a href = "#">Something</a></div>
		</caption>            
	</div>
	
</div>
    
{% endblock %}