{% extends "admin_base.html" %}

{% block title %}List{% endblock %}

{% block body %}


<div class ="UserDataTable">
	<table>
<caption>Users</caption>
<tr>
		
		<th>id</th>
		<th>Name</th>
		<th>Surname</th>
	    <th>Gender</th>
		<th>Birthday</th>
		<th>Login</th>
		<th>Password</th>
		<th>Admin</th>
		<th></th>
		<th></th>  
</tr>

	{% for User in Users %}
	<tr>

		<td>{{ User.id|escape }}</td>
		<td>{{ User.user_name|escape}}</td>
		<td>{{ User.user_surname|escape }}</td>
		<td>{{ User.user_gender|escape }}</td>
		<td>{{ User.user_bday|escape }}</td>
		<td>{{ User.user_login|escape }}</td>
		<td>{{ User.user_password|escape }}</td>
		<td>{{ User.admin_access|escape }}</td>
		<td><a class = 'editLink' href='/admin/users/{{ user.id }}/edit'>Edit User</a></td>
		<td><a class = 'deleteLink' href='/admin/users/{{ user.id }}/delete'>Delete User</a></td>
	</tr>	
	{% endfor %}
		


</table>
</div>


{% endblock %}