{% extends "admin_base.html" %}

{% block title %}List{% endblock %}

{% block body %}


<body>

	<div class ="HeaderForm">
		<div class = "CaptionRegister">
		<h1>New User</h1>
		</div>
	</div>
	
		<div class = "formWrapper">
	
		<form method = "post" action = "Main.php?page=create">
           
            <div class="GenderDiv">
            
				<label class = "Name"> Name: <br>
						<input type ="text" name = "Name">
				</label> 


				<label> Surame: <br>
						<input type ="text" name = "Surname">
				</label>

				<label> Gender: </label>
					<input type="radio" name="Gender" value="M" > Male 
					<input type="radio" name="Gender" value="F" > Female 
				 
			</div>
			
			<div class = "BDayDiv">		
			
	        	<label>Birthday:</label>
					<input type = "date" name = "Birthday">
			</div>
			
			<div class = "LogPassDiv">
				<label> Login: <br>
					<input type ="text" name = "Login">
				</label> 

				<label> Enter password:<br>
					<input type ="password" name = "Password">
				</label>

<!--
				<label> Confirm password:<br>
					<input type ="password" name = "Password_confirm"><br>
				</label>
-->
				
				
			</div>
			<div class = "Register">
				
				<input type = "submit" name = "Register" value = "Register">
				<input type="reset" name="clear" value="Clear">

				<div class ="Privileg">
				<label> Administrator:
					<input type = "checkbox" name = "Admin">
				</label>
					
				</div>
			</div>	
        </form>
	</div>


{% endblock %}