{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div class = "NP"><marquee onmouseout="this.start()" onmouseover="this.stop()">News & Promo</marquee></div>

<main>
	<div id="promo">	
    <h1> Annoncements</h1>    
    </div>

    <div id="mainTextWrap">
        <div id="mainText">
            Здесь будет текст для главной страницы. Здесь будет текст для главной страницы. Здесь будет текст для главной страницы.
            Здесь будет текст для главной страницы. Здесь будет текст для главной страницы. Здесь будет текст для главной страницы.
            Здесь будет текст для главной страницы. Здесь будет текст для главной страницы. Здесь будет текст для главной страницы.
            Здесь будет текст для главной страницы. Здесь будет текст для главной страницы.  Здесь будет текст для главной страницы.
        </div>
    </div>

   
</main>
    
{% endblock %}