@charset "utf-8";
/* CSS Document */

html, body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	color: #5e5e5e;
	width:100%;
	height: 100%;
}
/*-----------------------------Main Content---------------------------------*/
.HeaderForm{
	background-color: rgba(106,104,107,0.05);
	border-radius: 5px;
	width:70%;
	margin: 0 auto;
	height:80px;
	padding: 10px;
}


.CaptionRegister {
	width:70%;
	background-color: rgba(106,104,107,0.05);
	margin: 0 auto;
	position: relative;
	top: 8px;
	color: #1FB518;
}
.CaptionRegister h1 {
	text-align: center;
}
.formWrapper {
	display: flex;
	flex-direction: row;
	justify-content: CENTER;
	align-items: stretch;
	flex-wrap: nowrap;
	align-content: center;
	height: 80%;
	
	
}

form[name = NewUser] {
	background-color: rgba(141,138,142, 0.3) ;
	padding:10px;
	width: 80%;
	color: #D0CFCF;
	border-radius: 5px;
	
}

.formWrapper label {
	color:#E7ECF0;
	font-size: 120%;
	margin-right: 20px;
	
}

input[type = text],  input[type = password] {
	line-height: 30px;
	width: 100%;
	margin:10px;
	border:none;
	border-radius: 5px;
	
}
	
form input[type = radio]{
	/*Look at master's tutorials from html academy*/
	
	
}	
form input[type = date]{
	/*Look at master's tutorials from html academy*/
	border:none;
	border-radius: 5px;
	padding: 3px;
}	

.NameSurnameDiv, .GenderDiv, .BDayDiv, .LogPassDiv {
 margin: 20px;
}

form input[type = submit]{
	/*Look at master's tutorials from html academy*/
	position: relative;
	left: 3%;
	padding: 7px 20px;
	font-size: 120%;
	border-radius: 5px;
	border:none;
}	
form .Register{
	width:100%;
}
form .Privileg {
	position: relative;
	color: skyblue;
	width:50%;
    float: right;
	bottom: 5px;
	margin-right: 20px;
	font-family: Cambria, "Hoefler Text", helvetica;
}
.Privileg input [name = WhetherAdmin] {
	/*look at master-class of HTML Academy*/
}
